<div class="featured-pic">
	<div class="name">
		Nicole
	</div>
	<div class="info">
		<div class="blurb">
			Nicole was born and raised in Los Angeles, California, she is now a proud New Yorker. Nicole is known for being an anchor on CNN Live. On her free time she likes to cook dinners for her friends, apropos dinner, Nicole has been a vegetarian since she was young and a vegan since 2002. Above all, she looks for manners and life experience in a potential mate.</div>

	</div>
	<div class="buttons">
		<%= image_tag "moreinfo.png" %>
		<%= image_tag "contactme.png" %>
	</div>
</div>