<div class="bottom">
	<footer>
	  <nav>
	    <ul>
	   		<li style="visibility:hidden">hello</li>
			<% if false%>
	   		<li><%= link_to "About", about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	      <li><%= link_to "Help", help_path %></li>
			<% end %>
	    </ul>
	  </nav>
	</footer>
</div>